* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    font-family: 'Kumbh Sans', sans-serif
    /* For fonts and stuff, implement texts from google */
}


/* This section will take care of background, color, and everything else*/
.navbar {
    background: black; 
    height: 80;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 7.0rem;
    position: sticky;
    top: 0; 
    z-index: 999;  /*to make sure this is always seen*/
}

.navbar__containter {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;  /*top left bottom right*/
    padding: 0 50px;
}

#navbar__logo {
    background-color: rgb(111, 190, 190);
    background-image: linear-gradient(to top, rgb(100, 100,100) );
}